@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;600;700&family=Shrikhand&display=swap");
/*@font-face{
  font-family: 'MuseoSansCyrl-100';
  font-weight: 100;
  font-style: normal;
  src: local('MuseoSansCyrl-100'),
       url('../fonts/MuseoSansCyrl-100.woff2') format("woff2"),
       url('../fonts/MuseoSansCyrl-100.woff') format("woff");
  font-display: swap;
}*/
/*%MuseoSansCyrl-100 {
  font-family: "MuseoSansCyrl-100", sans-serif;
  font-weight: 100;
  font-style: normal;
}*/
.home-info__link, .price__link {
  padding: 18px 27px;
  background: #65c6a2;
  -webkit-box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
          box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #fff;
}

.review .slick-arrow {
  position: absolute;
  bottom: -75px;
  right: 0;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #65c6a2;
}

.review .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  gap: 0 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  overflow-x: hidden;
  line-height: 20px;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #212121;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 30px;
}

.date {
  font-weight: 600;
  line-height: 20px;
  color: #5e50a2;
  margin-bottom: 30px;
}

.author {
  font-weight: 600;
  line-height: 20px;
  color: #5e50a2;
}

.modal {
  background: #fff;
  padding: 0;
  padding: 60px 69px 100px;
  border-radius: 10px;
}

.modal__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-bottom: 30px;
}

.modal__input, .modal__phone {
  max-width: 430px;
  width: 100%;
  border: 1px solid #ded9f8;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 14px 24px;
  outline: none;
}

.modal__town {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.modal__town:hover {
  color: #5e50a2;
}

.modal__town + .modal__town {
  margin-top: 15px;
}

.fancybox-can-pan .fancybox-content,
.fancybox-can-swipe .fancybox-content {
  cursor: auto;
  overflow: initial;
}

.fancybox-close-small {
  border: none;
  opacity: 1;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
  width: 40px;
  height: 40px;
  background: #65c6a2;
  border-radius: 50%;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 0;
  right: -70px;
}

.fancybox-button svg {
  display: none;
}

/*
.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
  background-image: none;
  background-image: url('../img/icons/close.svg');
}*/
input,
textarea {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ded9f8;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ded9f8;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ded9f8;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ded9f8;
}

.start-page {
  height: 100vh;
}

.start-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.start-page__link + .start-page__link {
  margin-top: 20px;
}

.start-page__link {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: center;
}

.header-top {
  padding: 39px 0;
  background: #fff;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__modal {
  font-weight: 600;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header-top__phone {
  font-weight: 600;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__item + .header-top__item {
  margin-left: 30px;
}

.header-top__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #65c6a2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header-top__btn {
  display: none;
}

.header-nav {
  background: #5e50a2;
  padding: 36px 0;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link {
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
}

.home-info {
  background: #ded9f8;
}

.home-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-info__title {
  max-width: 470px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #5e50a2;
  margin-bottom: 30px;
}

.home-info__text {
  max-width: 370px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 54px;
}

.home-info__description {
  max-width: 400px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.home-info__img {
  margin-left: auto;
}

.home-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 21px;
}

.about {
  padding: 120px 0;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__box:not(:last-child) {
  margin-bottom: 68px;
}

.about__text {
  max-width: 470px;
  font-size: 18px;
  line-height: 28px;
}

.about__text:nth-child(2) {
  margin-left: 130px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
  width: 100%;
  background: #5e50a2;
  border-radius: 10px;
  padding: 32px 0;
}

.about__number {
  font-weight: 700;
  font-size: 44px;
  line-height: 50px;
  color: #65c6a2;
  margin-right: 15px;
}

.about__span {
  font-weight: 600;
  color: #fff;
}

.price {
  background: #ded9f8;
  padding: 80px 0 0px;
  background-image: url("../img/price-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.price__inner {
  padding-bottom: 80px;
}

.price__form {
  max-width: 570px;
}

.price__item + .price__item {
  margin-top: 35px;
}

.price__caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px 33px;
}

.price .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.price .custom-checkbox .checkbox {
  margin-right: 11px;
}

.price .custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.price .checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  border: 1px solid #5e50a2;
  background: transparent;
  border-radius: 50%;
}

.price .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.price .custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
  display: none;
}

.price .custom-checkbox input:checked ~ .checkbox {
  background: #fff;
  border: 3px solid #5e50a2;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.price__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
  margin-bottom: 15px;
}

.price__input {
  max-width: 269px;
  border: 1px solid #5e50a2;
  border-radius: 5px;
  padding: 14px 24px;
}

.price__input::-webkit-input-placeholder {
  color: #5e50a2;
}

.price__input:-ms-input-placeholder {
  color: #5e50a2;
}

.price__input::-ms-input-placeholder {
  color: #5e50a2;
}

.price__input::placeholder {
  color: #5e50a2;
}

.price__link {
  margin-top: 30px;
  display: inline-block;
}

.price .jq-file {
  width: 200px;
  border: 1px solid #5e50a2;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.price .jq-file__name {
  width: 200px;
  height: 56px;
  padding: 0;
  border-radius: 0px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.price .jq-file__browse {
  width: 200px;
  padding: 0;
  border: none;
  border-radius: 0px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #5e50a2;
  inset: 0;
}

.price__wrapper {
  -webkit-transform: translateY(225px);
          transform: translateY(225px);
  z-index: 1;
  margin-top: -225px;
  background: #5e50a2;
  border-radius: 10px;
  color: #fff;
  padding: 60px 86px 100px 100px;
}

.price__wrapper .title {
  max-width: 570px;
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__items {
  max-width: 170px;
}

.price__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 13px;
}

.price__num {
  color: #65c6a2;
  margin-bottom: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.advantage {
  padding: 345px 0 195px;
}

.advantage .title {
  margin-bottom: 60px;
}

.advantage__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 100px 0px;
  margin-bottom: 120px;
}

.advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
}

.advantage__list {
  max-width: 270px;
  font-size: 18px;
  line-height: 28px;
  margin-left: auto;
  text-align: left;
  width: 100%;
}

.advantage__item + .advantage__item {
  margin-top: 13px;
}

.advantage__item:first-child {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
}

.advantage__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  background: #65c6a2;
  border-radius: 50%;
}

.advantage-slider__card, .advantage-slider__item {
  width: 570px;
  height: 570px;
}

.advantage-slider__img {
  width: 570px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantage-slider .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  overflow: inherit;
}

.advantage-slider .slick-slide[aria-hidden="false"] {
  opacity: 1;
}

.advantage-slider .slick-slide[aria-hidden="true"] {
  opacity: 0.3;
}

.advantage-slider .slick-arrow {
  position: absolute;
  bottom: -75px;
  right: 0;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #65c6a2;
}

.advantage-slider .slick-prev.slick-arrow {
  right: 55px;
}

.advantage-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  gap: 0 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.advantage-slider .slick-dots li {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ded9f8;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.advantage-slider .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #5e50a2;
  border-radius: 50%;
}

.requirements {
  padding-bottom: 120px;
}

.requirements__title {
  max-width: 570px;
  margin-bottom: 60px;
}

.requirements__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.requirements__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 570px;
  width: 100%;
  min-height: 474px;
  background: #ded9f8;
  border-radius: 10px;
  padding-top: 60px;
  padding: 60px 70px;
}

.requirements__holder {
  max-width: 430px;
  background-repeat: no-repeat;
  background-position: right top;
}

.requirements__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-bottom: 30px;
}

.requirements__item + .requirements__item {
  margin-top: 30px;
}

.requirements__item {
  font-size: 18px;
  line-height: 28px;
  position: relative;
}

.requirements__item:before {
  position: absolute;
  content: "";
  left: -18px;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5e50a2;
}

.questions {
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 60px;
}

.questions__container {
  margin: 0;
  margin-bottom: 60px;
}

.questions__container .questions__body {
  height: 0;
  padding: 0 30px;
  -webkit-transition: color 0.5s, padding 0.5s;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 10px 16px rgba(0, 0, 0, 0.2);
  width: 670px;
  background: #fff;
  margin: 0;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #212121;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.questions__container .questions__body p {
  margin: 0 0 10px;
}

.questions__container .questions__label {
  cursor: pointer;
  background-color: #fff;
  display: block;
  width: 100%;
  z-index: 100;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  padding: 30px 5px 34px;
  border: none;
  margin: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

.questions__container input {
  display: none;
}

.questions__container .questions__label:before {
  content: "\276F";
  float: right;
  margin-right: 10px;
}

.questions__container input:checked + .questions__label {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.questions__container input:checked + .questions__label:before {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__container input:checked + .questions__label + .questions__body {
  height: auto;
  margin-top: 0px;
  padding: 19px 0 30px;
}

.questions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions__link {
  font-weight: 600;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.blog {
  background: #ded9f8;
  padding: 80px 0 100px;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.blog__text {
  max-width: 503px;
  font-size: 18px;
  line-height: 28px;
}

.blog__box {
  max-width: 503px;
  margin: 0 auto;
}

.blog__box p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-bottom: 24px;
}

.blog__link {
  font-weight: 600;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item {
  max-width: 370px;
  min-height: 670px;
}

.blog__images {
  margin-bottom: 15px;
}

.blog__images, .blog__img {
  width: 370px;
  height: 370px;
}

.blog__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__date {
  font-weight: 600;
  line-height: 20px;
  color: #5e50a2;
  margin-bottom: 15px;
}

.blog__article {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.blog__description {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}

.blog__author {
  font-weight: 600;
  font-size: 14px;
  color: #5e50a2;
}

.review {
  padding: 120px 0 195px;
}

.review__title {
  margin-bottom: 60px;
}

.review__slider {
  margin-bottom: 39px;
}

.review__card, .review__item {
  max-width: 570px;
  min-height: 576px;
  width: 100%;
  background: #ded9f8;
  border-radius: 10px;
}

.review__item {
  padding: 60px 100px 60px 70px;
}

.review__slogan {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 13px;
}

.review__text {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 29px;
}

.review__link {
  font-weight: 600;
  line-height: 20px;
  color: #5e50a2;
}

.review .slick-prev.slick-arrow {
  right: 55px;
}

.review .slick-dots li {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ded9f8;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.review .slick-dots li.slick-active {
  width: 14px;
  height: 14px;
  background: #5e50a2;
  border-radius: 50%;
}

.review__view {
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 136px;
}

.buy {
  background: #ded9f8;
  padding: 80px 0 0px;
}

.buy__inner {
  position: relative;
  padding-bottom: 120px;
}

.buy__inner::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 725px;
  height: 907px;
  background: url("../img/девочка.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 1;
}

.buy__title {
  max-width: 670px;
}

.buy__list {
  -webkit-column-count: 2;
          column-count: 2;
}

.buy__item {
  max-width: 500px;
  min-height: 112px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 22px;
  position: relative;
}

.buy__item:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5e50a2;
  top: 12px;
  left: -18px;
}

.buy__contact {
  background: #5e50a2;
  border-radius: 10px;
  padding: 58px 70px 100px 100px;
  margin-bottom: 120px;
}

.buy__contact .title {
  color: #fff;
  max-width: 570px;
}

.buy__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buy__form {
  max-width: 270px;
}

.buy__input, .buy__phone {
  width: 100%;
  padding: 14px 25px;
  border: 1px solid #ded9f8;
  border-radius: 5px;
  margin-bottom: 15px;
}

.buy__link, .buy__links {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #65c6a2;
  border-radius: 5px;
  padding: 18px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 30px;
}

.buy__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.buy__content {
  margin: 0 auto;
}

.buy__images {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #65c6a2;
  margin-bottom: 15px;
}

.buy__items {
  max-width: 500px;
}

.buy__items li {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  position: relative;
}

.buy__items li:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  top: 12px;
  left: -18px;
}

.buy__items li + li {
  margin-top: 13px;
}

.buy__text {
  max-width: 500px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.buy__links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  padding: 18px 58px;
}

.contacts {
  padding: 120px 0 100px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__subtitle, .contacts__address, .contacts__phone {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 13px;
}

.contacts__city {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 30px;
}

.contacts__phone {
  margin-bottom: 56px;
}

.contacts__span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

.contacts .footer__socials {
  margin-bottom: 30px;
}

.contacts .footer__socials .footer__social {
  background: #5e50a2;
  /*
      path {
        fill: #fff;
      }*/
}

.contacts__btn {
  background: #65c6a2;
  -webkit-box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
          box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
  border-radius: 5px;
  color: #fff;
  padding: 18px 58px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.contacts__map {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}

.modal-contact {
  width: 570px;
}

.modal-contact .modal__subtitle {
  max-width: 270px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-bottom: 30px;
}

.modal-contact .modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-contact .modal__input {
  margin-bottom: 15px;
}

.modal-contact .modal__phone {
  margin-bottom: 30px;
}

.modal-contact .modal__feedback {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #65c6a2;
  -webkit-box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
          box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
  border-radius: 5px;
  color: #fff;
  padding: 18px 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.modal-buy .title {
  text-align: center;
}

.modal-buy__description {
  font-size: 18px;
  line-height: 28px;
}

.post {
  padding: 120px 0 100px;
}

.post__title {
  max-width: 570px;
}

.post__subtitle {
  max-width: 470px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 60px;
}

.post__img {
  width: 1170px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 76px;
  border-radius: 10px;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.post__info {
  max-width: 470px;
  width: 100%;
}

.post__name {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

.post__text {
  font-size: 18px;
  line-height: 28px;
}

.post__text + .post__text {
  margin-top: 40px;
}

.post__blockquote {
  max-width: 470px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-left: 0 auto 130px;
  padding-top: 60px;
}

.post__images {
  width: 570px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.post__list {
  margin-bottom: 60px;
}

.post__item, .post__link {
  font-size: 18px;
  line-height: 28px;
}

.post__link {
  color: #5e50a2;
  text-decoration: underline;
}

.post__author {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #5e50a2;
  margin-bottom: 120px;
}

.blog-main {
  padding: 120px 0 100px;
}

.blog-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-main__info {
  max-width: 570px;
  width: 100%;
}

.blog-main__caption {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 58px;
}

.blog-main__item {
  margin-bottom: 120px;
  min-height: 685px;
}

.blog-main__item--active {
  min-height: 370px;
}

.blog-main__img, .blog-main__images {
  width: 570px;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

.blog-main__images {
  margin-bottom: 120px;
}

.blog-main .date {
  margin-bottom: 15px;
}

.blog-main__subtitle {
  max-width: 300px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.blog-main__text {
  max-width: 370px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}

.footer {
  background: #5e50a2;
  padding: 50px 0 80px;
  /*
  &__list + .footer__list{
    margin-left: 30px;
  }*/
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.footer__phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.footer__list {
  max-width: 170px;
  width: 100%;
}

.footer__list:not(:first-child) {
  margin-left: 30px;
}

.footer__item:not(:first-child) {
  margin-top: 15px;
}

.footer__link {
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  padding-top: 38px;
  gap: 0 30px;
}

.footer__social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.footer__privacy {
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 940px) {
  .header-top__item + .header-top__item {
    margin-left: 20px;
  }
  .header-nav__link {
    font-size: 13px;
  }
}

@media (max-width: 880px) {
  .header-nav {
    display: none;
    padding: 30px 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    inset: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header-nav__list {
    position: absolute;
    inset: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px 0;
  }
  .header-nav__link {
    font-size: 20px;
  }
  .header-top {
    padding: 30px 0;
  }
  .header-top__list {
    display: none;
  }
  .header-top__btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .header-top__btn .header-top__span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
  }
  .header-top__span:nth-child(1) {
    top: 0;
  }
  .header-top__span:nth-child(2) {
    top: 20px;
  }
  .header-top__span:nth-child(3) {
    top: 20px;
  }
  .header-top__span:nth-child(4) {
    top: 40px;
  }
  .header-top__btn--active .header-top__span:nth-child(1) {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .header-top__btn--active .header-top__span:nth-child(2) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header-top__btn--active .header-top__span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-top__btn--active .header-top__span:nth-child(4) {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .header-top__phone {
    display: none;
  }
  .modal {
    width: 450px;
    padding: 35px 45px;
  }
}

@media (max-width: 625px) {
  .modal {
    width: 420px;
    padding: 35px 30px;
  }
  .fancybox-slide--html .fancybox-close-small {
    right: -45px;
  }
}

@media (max-width: 485px) {
  .header-top__logo img {
    width: 200px;
  }
  .fancybox-slide--html .fancybox-close-small {
    right: 0;
  }
  .modal__title {
    margin-bottom: 20px;
  }
  .modal__input {
    margin-bottom: 20px;
  }
  .modal__town {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 370px;
    padding: 25px 20px;
  }
}

@media (max-width: 400px) {
  .header-top__logo img {
    width: 150px;
  }
  .modal {
    width: 365px;
  }
}

@media (max-width: 375px) {
  .header-top {
    padding: 25px 0;
  }
  .header-top__btn {
    width: 40px;
    height: 35px;
  }
  .header-top__span:nth-child(2), .header-top__span:nth-child(3) {
    top: 15px;
  }
  .header-top__span:nth-child(4) {
    top: 30px;
  }
  .modal {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .header-top__logo img {
    width: 125px;
  }
  .modal {
    width: 275px;
    padding: 20px 15px;
  }
  .modal__town {
    font-size: 14px;
  }
}

@media (max-width: 1170px) {
  .home-info__link {
    padding: 16px 14px;
  }
  .about {
    padding: 100px 0;
  }
  .about__item {
    max-width: 320px;
    padding: 20px 0;
  }
  .about__box:not(:last-child) {
    margin-bottom: 60px;
  }
  .about__list {
    margin-bottom: 60px;
  }
}

@media (max-width: 1122px) {
  .home-info__link {
    padding: 16px 10px;
  }
  .advantage {
    padding: 300px 0 165px;
  }
  .advantage .title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .advantage__info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px 0px;
    margin-bottom: 85px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 470px;
    height: 470px;
  }
  .advantage-slider__img {
    width: 470px;
    height: 470px;
  }
}

@media (max-width: 1099px) {
  .home-info__img {
    width: 500px;
  }
  .about {
    padding: 80px 0;
  }
  .about__item {
    max-width: 305px;
  }
  .price {
    background-position-x: revert;
    padding-top: 65px;
  }
  .price__wrapper {
    padding: 45px 60px;
  }
  .price__wrapper .title {
    max-width: 100%;
  }
  .price__name {
    margin-bottom: 10px;
  }
  .price__num {
    font-size: 38px;
  }
}

@media (max-width: 1005px) {
  .advantage__images {
    width: 55px;
    height: 55px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 455px;
    height: 455px;
  }
  .advantage-slider__img {
    width: 455px;
    height: 455px;
  }
  .advantage-slider .slick-arrow {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 995px) {
  .home-info__img {
    width: 450px;
  }
  .about__item {
    max-width: 275px;
  }
  .about__text:nth-child(2) {
    margin-left: 50px;
  }
  .price__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 0;
  }
  .price__items {
    max-width: 100%;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 400px;
    height: 400px;
  }
  .advantage-slider__img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 945px) {
  .home-info__link {
    font-size: 16px;
  }
  .home-info__title {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .home-info__description {
    font-size: 18px;
  }
  .about__number {
    font-size: 35px;
  }
}

@media (max-width: 899px) {
  .home-info__title {
    font-size: 45px;
  }
  .home-info__link {
    padding: 10px 5px;
  }
  .home-info__img {
    width: 375px;
  }
  .about {
    padding: 65px 0;
  }
  .about__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
    width: 100%;
  }
  .about__text {
    max-width: 100%;
  }
  .about__text:nth-child(2) {
    margin-left: 0;
  }
  .price {
    background-position-x: center;
  }
}

@media (max-width: 870px) {
  .advantage {
    padding: 300px 0 125px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 350px;
    height: 350px;
  }
  .advantage-slider__img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 855px) {
  .about__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 805px) {
  .home-info__title {
    font-size: 40px;
  }
  .home-info__inner {
    background-image: url("../img/young-woman.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: inherit;
  }
  .home-info__info {
    padding: 20px 0;
    width: 100%;
  }
  .home-info__text {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .home-info__img {
    display: none;
  }
  .price__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__wrapper {
    padding: 40px;
  }
  .price__wrapper .title {
    text-align: center;
  }
  .price__items {
    text-align: center;
  }
  .price__num {
    margin: 0 auto;
  }
}

@media (max-width: 805px) {
  .home-info__inner {
    background-image: none;
  }
  .home-info__title {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .advantage__info {
    gap: 30px 35px;
    margin-bottom: 45px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 325px;
    height: 325px;
  }
  .advantage-slider__img {
    width: 325px;
    height: 325px;
  }
  .advantage-slider .slick-arrow {
    bottom: -65px;
  }
}

@media (max-width: 645px) {
  .home-info__title {
    font-size: 36px;
  }
}

@media (max-width: 645px) {
  .home-info__title {
    font-size: 35px;
  }
  .home-info__description {
    max-width: 100%;
  }
  .price {
    background-position-y: center;
  }
  .price__holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
  .advantage .title {
    font-size: 36px;
    margin-bottom: 35px;
  }
  .advantage__images {
    display: none;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 285px;
    height: 285px;
  }
  .advantage-slider__img {
    width: 285px;
    height: 285px;
  }
}

@media (max-width: 510px) {
  .home-info__title {
    font-size: 27px;
  }
  .price .title {
    font-size: 47px;
  }
  .price__wrapper .title {
    font-size: 35px;
    line-height: 45px;
  }
  .price__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0px;
  }
  .price__caption {
    font-size: 23px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 400px;
    height: 400px;
  }
  .advantage-slider__img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 429px) {
  .home-info__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px 0;
    width: 100%;
  }
  .home-info__title {
    font-size: 23px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .home-info__link {
    padding: 10px 5px;
    margin: 0 auto;
  }
  .price {
    background-image: none;
  }
  .price .title {
    font-size: 40px;
    text-align: center;
  }
  .price__wrapper {
    padding: 30px;
  }
  .advantage .title {
    font-size: 34px;
  }
  .advantage__list {
    margin: 0 auto;
    text-align: center;
  }
  .advantage__info {
    gap: 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 360px;
    height: 360px;
  }
  .advantage-slider__img {
    width: 360px;
    height: 360px;
  }
  .advantage-slider__img {
    width: 360px;
    height: 360px;
  }
}

@media (max-width: 425px) {
  .home-info__title {
    font-size: 20px;
    line-height: 45px;
  }
  .about {
    padding: 40px 0;
  }
}

@media (max-width: 375px) {
  .home-info__title {
    font-size: 32px;
  }
  .advantage .title {
    font-size: 30px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 325px;
    height: 325px;
  }
  .advantage-slider__img {
    width: 325px;
    height: 325px;
  }
  .advantage-slider__img {
    width: 325px;
    height: 325px;
  }
}

@media (max-width: 320px) {
  .home-info__title {
    font-size: 28px;
  }
  .home-info__description {
    font-size: 16px;
  }
  .price__wrapper .title {
    font-size: 29px;
  }
  .advantage .title {
    font-size: 26px;
  }
  .advantage-slider__card, .advantage-slider__item {
    width: 275px;
    height: 275px;
  }
  .advantage-slider__img {
    width: 275px;
    height: 275px;
  }
  .advantage-slider__img {
    width: 275px;
    height: 275px;
  }
  .advantage-slider .slick-dots {
    bottom: -25px;
  }
  .advantage-slider .slick-arrow {
    width: 32px;
    height: 32px;
  }
  .advantage-slider slick-prev.slick-arrow {
    right: 40px;
  }
}

@media (max-width: 800px) {
  .footer {
    padding: 50px 0px;
  }
  .footer__list:not(:first-child) {
    margin-left: 20px;
  }
  .footer__socials {
    gap: 0 20px;
  }
}

@media (max-width: 768px) {
  .footer__top {
    margin-bottom: 30px;
  }
  .footer__link {
    font-size: 13px;
  }
  .footer__nav {
    margin-bottom: 30px;
  }
  .footer__logo img {
    width: 200px;
  }
}

@media (max-width: 695px) {
  .footer__nav {
    margin-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 25px 0px;
  }
  .footer__list:not(:first-child) {
    margin-left: 0px;
  }
  .footer__list {
    max-width: 200px;
  }
  .footer__socials {
    padding-top: 0;
  }
}

@media (max-width: 590px) {
  .footer__socials {
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .footer__list {
    width: 50%;
  }
  .footer__phone {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 395px) {
  .footer {
    padding: 40px 0px;
  }
  .footer__logo img {
    width: 180px;
  }
  .footer__privacy {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .footer__logo img {
    width: 135px;
  }
  .footer__phone {
    font-size: 16px;
  }
}

.cont {
  margin: 0 40px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.cont h1 {
  color: #333;
}

.tab {
  position: relative;
  background: #fff;
  padding: 0 20px 20px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
}

.tab input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.tab label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.tab label::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.tab:hover label::after {
  color: #333;
}

.tab input:checked ~ label::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  color: #fff;
}

.tab label h2 {
  width: 40px;
  height: 40px;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.25em;
  border-radius: 5px;
  margin-right: 10px;
}

.tab input:checked ~ label h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.2);
  font-size: 8em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.tab:nth-child(2) label h2 {
  background: linear-gradient(135deg, #70f570, #49c628);
}

.tab:nth-child(3) label h2 {
  background: linear-gradient(135deg, #3c8ce7, #00eaff);
}

.tab:nth-child(4) label h2 {
  background: linear-gradient(135deg, #ff96f9, #c32bac);
}

.tab:nth-child(5) label h2 {
  background: linear-gradient(135deg, #fd6e6a, #ffc600);
}

.tab label h3 {
  position: relative;
  font-weight: 500;
  color: #333;
  z-index: 10;
}

.tab .content {
  max-height: 0px;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

.tab input:checked ~ .content {
  max-height: 100vh;
}

.tab .content p {
  position: relative;
  padding: 10px 0px;
  color: #333;
}

.tab input:checked ~ label h3 {
  background: #fff;
  padding: 2px 10px;
  color: #333;
  border-radius: 2px;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
}

.tab input:checked ~ .content p {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */