@media (max-width: 1440px) {
  .advantage-slider {
    .slick-list {
      overflow: hidden;
    }
    &__card,
    &__item {
      width: 560px;
      height: 560px;
    }
    &__img {
      width: 560px;
      height: 560px;
    }
  }
}
@media (max-width: 1170px) {
  .home-info {
    &__link {
      padding: 16px 14px;
    }
  }
  .about {
    padding: 100px 0;
    &__item {
      max-width: 320px;
      padding: 20px 0;
    }
    &__box:not(:last-child) {
      margin-bottom: 60px;
    }
    &__list {
      margin-bottom: 60px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 520px;
      height: 520px;
    }
    &__img {
      width: 520px;
      height: 520px;
    }
  }
}

@media (max-width: 1122px) {
  .home-info {
    &__link {
      padding: 16px 10px;
    }
  }
  .advantage {
    padding: 300px 0 165px;
    .title {
      font-size: 40px;
      margin-bottom: 50px;
    }
    &__info {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 0px;
      margin-bottom: 85px;
    }
  }
}

@media (max-width: 1099px) {
  .home-info {
    &__img {
      width: 500px;
    }
  }
  .about {
    padding: 80px 0;
    &__item {
      max-width: 305px;
    }
  }
  .price {
    background-position-x: revert;
    padding-top: 65px;
    &__wrapper {
      padding: 45px 60px;
      .title {
        max-width: 100%;
      }
    }
    &__name {
      margin-bottom: 10px;
    }
    &__num {
      font-size: 38px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 485px;
      height: 485px;
    }
    &__img {
      width: 485px;
      height: 485px;
    }
  }
}

@media (max-width: 1005px) {
  .advantage {
    &__images {
      width: 55px;
      height: 55px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 455px;
      height: 455px;
    }
    &__img {
      width: 455px;
      height: 455px;
    }
    .slick-arrow {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 995px) {
  .home-info {
    &__img {
      width: 450px;
    }
  }
  .about {
    &__item {
      max-width: 275px;
    }
    &__text:nth-child(2) {
      margin-left: 50px;
    }
  }
  .price {
    &__list {
      flex-wrap: wrap;
      gap: 20px 0;
    }
    &__items {
      max-width: 100%;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 420px;
      height: 420px;
    }
    &__img {
      width: 420px;
      height: 420px;
    }
  }
}

@media (max-width: 945px) {
  .home-info {
    &__link {
      font-size: 16px;
    }
    &__title {
      font-size: 50px;
      line-height: 65px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 18px;
    }
  }
  .about {
    &__number {
      font-size: 35px;
    }
  }
}

@media (max-width: 899px) {
  .home-info {
    &__title {
      font-size: 45px;
    }
    &__link {
      padding: 10px 5px;
    }
    &__img {
      width: 375px;
    }
  }
  .about {
    padding: 65px 0;
    &__box {
      flex-direction: column;
      gap: 15px 0;
      width: 100%;
    }
    &__text {
      max-width: 100%;
    }
    &__text:nth-child(2) {
      margin-left: 0;
    }
  }
  .price {
    background-position-x: center;
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 385px;
      height: 385px;
    }
    &__img {
      width: 385px;
      height: 385px;
    }
  }
}
@media (max-width: 870px) {
  .advantage {
    padding: 300px 0 125px;
  }
}

@media (max-width: 855px) {
  .about {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 350px;
      height: 350px;
    }
    &__img {
      width: 350px;
      height: 350px;
    }
  }
}

@media (max-width: 805px) {
  .home-info {
    &__title {
      font-size: 40px;
    }
    &__inner {
      background-image: url("../img/young-woman.png");
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: inherit;
    }
    &__info {
      padding: 20px 0;
      width: 100%;
    }
    &__text {
      max-width: 100%;
      margin-bottom: 15px;
    }
    &__img {
      display: none;
    }
  }
  .price {
    &__list {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__wrapper {
      padding: 40px;
      .title {
        text-align: center;
      }
    }
    &__items {
      text-align: center;
    }
    &__num {
      margin: 0 auto;
    }
  }
}

@media (max-width: 805px) {
  .home-info {
    &__inner {
      background-image: none;
    }
    &__title {
      max-width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .advantage {
    &__info {
      gap: 30px 35px;
      margin-bottom: 45px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 325px;
      height: 325px;
    }
    &__img {
      width: 325px;
      height: 325px;
    }
    .slick-arrow {
      bottom: -65px;
    }
  }
}

@media (max-width: 705px) {
  .advantage-slider {
    &__card,
    &__item {
      width: 300px;
      height: 300px;
    }
    &__img {
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 645px) {
  .home-info {
    &__title {
      font-size: 36px;
    }
  }
}

@media (max-width: 645px) {
  .home-info {
    &__title {
      font-size: 35px;
    }
    &__description {
      max-width: 100%;
    }
  }
  .price {
    background-position-y: center;
    &__holder {
      flex-direction: column;
      gap: 20px 0;
    }
  }
  .advantage {
    .title {
      font-size: 36px;
      margin-bottom: 35px;
    }
    &__images {
      display: none;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 285px;
      height: 285px;
    }
    &__img {
      width: 285px;
      height: 285px;
    }
  }
}
@media (max-width: 610px) {
  .advantage-slider {
    &__card,
    &__item {
      width: 420px;
      height: 420px;
    }
    &__img {
      width: 420px;
      height: 420px;
    }
  }
}
@media (max-width: 510px) {
  .home-info {
    &__title {
      font-size: 27px;
    }
  }
  .price {
    .title {
      font-size: 47px;
    }
    &__wrapper {
      .title {
        font-size: 35px;
        line-height: 45px;
      }
    }
    &__box {
      flex-direction: column;
      gap: 15px 0px;
    }
    &__caption {
      font-size: 23px;
    }
  }
}
@media (max-width: 450px) {
  .advantage-slider {
    &__card,
    &__item {
      width: 375px;
      height: 375px;
    }
    &__img {
      width: 375px;
      height: 375px;
    }
  }
}
@media (max-width: 429px) {
  .home-info {
    &__box {
      flex-direction: column;
      gap: 15px 0;
      width: 100%;
    }
    &__title {
      font-size: 23px;
      line-height: 50px;
      margin-bottom: 15px;
    }
    &__link {
      padding: 10px 5px;
      margin: 0 auto;
    }
  }
  .price {
    background-image: none;
    .title {
      font-size: 40px;
      text-align: center;
    }
    &__wrapper {
      padding: 30px;
    }
  }
  .advantage {
    .title {
      font-size: 34px;
    }
    &__list {
      margin: 0 auto;
      text-align: center;
    }
    &__info {
      gap: 30px 0px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  .home-info {
    &__title {
      font-size: 20px;
      line-height: 45px;
    }
  }
  .about {
    padding: 40px 0;
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 350px;
      height: 350px;
    }
    &__img {
      width: 350px;
      height: 350px;
    }
  }
}

@media (max-width: 375px) {
  .home-info {
    &__title {
      font-size: 32px;
    }
  }
  .advantage {
    .title {
      font-size: 30px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 330px;
      height: 330px;
    }
    &__img {
      width: 330px;
      height: 330px;
    }
  } /*
  .advantage-slider {
    &__card,
    &__item {
      width: 325px;
      height: 325px;
    }
    &__img {
      width: 325px;
      height: 325px;
    }
    &__img {
      width: 325px;
      height: 325px;
    }
    .slick-list {
      overflow: hidden;
    }
    .slick-dots {
      bottom: -45px;
    }
    .slick-arrow {
      display: grid;
      width: 35px;
      height: 35px;
    }
  }*/
}

@media (max-width: 320px) {
  .home-info {
    &__title {
      font-size: 28px;
    }
    &__description {
      font-size: 16px;
    }
  }
  .price {
    &__wrapper {
      .title {
        font-size: 29px;
      }
    }
  }
  .advantage {
    .title {
      font-size: 26px;
    }
  }
  .advantage-slider {
    &__card,
    &__item {
      width: 285px;
      height: 285px;
    }
    &__img {
      width: 285px;
      height: 285px;
    }
    .slick-prev.slick-arrow {
      right: 45px;
    }
    .slick-arrow {
      width: 32px;
      height: 32px;
    }
  } /*
  .advantage-slider {
    &__card,
    &__item {
      width: 275px;
      height: 275px;
    }
    &__img {
      width: 275px;
      height: 275px;
    }
    &__img {
      width: 275px;
      height: 275px;
    }
    .slick-slide[aria-hidden="true"] {
      opacity: 0;
    }
    .slick-dots {
      bottom: -25px;
    }
    
  }*/
}
