/*%MuseoSansCyrl-100 {
  font-family: "MuseoSansCyrl-100", sans-serif;
  font-weight: 100;
  font-style: normal;
}*/

%btn-link {
  padding: 18px 27px;
  background: #65c6a2;
  box-shadow: 2px 2px 8px rgba(101, 198, 162, 0.8);
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #fff;
}
